@import url(../../../https://fonts.googleapis.com/css?family=Roboto:400,300,700);



#msg-box4-13 .mbr-header__text {
  color: #efefef;
}
#msg-box4-13 .mbr-header__subtext {
  color: #f7da64;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-article P {
  color: #f7da64;
}
#features1-9 .mbr-section-title .mbr-header__text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#features1-9 .mbr-section__col .mbr-header__text {
  font-size: 18px;
}
#features1-9 P {
  text-align: center;
}
#features1-p .mbr-section-title .mbr-header__text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#features1-p .mbr-section__col .mbr-header__text {
  font-size: 18px;
}
#features1-p P {
  text-align: center;
}
#features1-q .mbr-section-title .mbr-header__text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#features1-q .mbr-section__col .mbr-header__text {
  font-size: 18px;
}
#features1-q P {
  text-align: center;
}
#form1-6 .mbr-header__text {
  text-align: left;
}
#dropdown-menu-2btn-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-f .nav .link,
#dropdown-menu-2btn-f .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-f .navbar,
#dropdown-menu-2btn-f .dropdown-menu {
  background: #404040;
}
#dropdown-menu-2btn-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-f .dropdown-menu a:hover,
#dropdown-menu-2btn-f .dropdown-menu a:focus {
  background: #363636;
}
#dropdown-menu-2btn-f .navbar-toggler {
  color: #ffffff;
}
#content5-h .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-h .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-h .mbr-article {
  color: #000000;
  text-align: center;
}
#form1-1i .mbr-header__text {
  text-align: left;
}
#dropdown-menu-2btn-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-f .nav .link,
#dropdown-menu-2btn-f .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-f .navbar,
#dropdown-menu-2btn-f .dropdown-menu {
  background: #404040;
}
#dropdown-menu-2btn-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-f .dropdown-menu a:hover,
#dropdown-menu-2btn-f .dropdown-menu a:focus {
  background: #363636;
}
#dropdown-menu-2btn-f .navbar-toggler {
  color: #ffffff;
}

#features1-r .mbr-section-title .mbr-header__text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#features1-r P {
  text-align: center;
}
#form1-1h .mbr-header__text {
  text-align: left;
}
#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #404040;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #363636;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}
#content5-1e .mbr-header .mbr-header__text {
  text-align: center;
  color: #efefef;
}
#content5-1e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1e .mbr-article {
  color: #fff;
}
#form1-1g .mbr-header__text {
  text-align: left;
}
#dropdown-menu-2btn-1c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1c .nav .link,
#dropdown-menu-2btn-1c .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1c .navbar,
#dropdown-menu-2btn-1c .dropdown-menu {
  background: #404040;
}
#dropdown-menu-2btn-1c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1c .dropdown-menu a:hover,
#dropdown-menu-2btn-1c .dropdown-menu a:focus {
  background: #363636;
}
#dropdown-menu-2btn-1c .navbar-toggler {
  color: #ffffff;
}

#dropdown-menu-2btn-1l .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1l .nav .link,
#dropdown-menu-2btn-1l .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1l .navbar,
#dropdown-menu-2btn-1l .dropdown-menu {
  background: #404040;
}
#dropdown-menu-2btn-1l .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1l .dropdown-menu a:hover,
#dropdown-menu-2btn-1l .dropdown-menu a:focus {
  background: #363636;
}
#dropdown-menu-2btn-1l .navbar-toggler {
  color: #ffffff;
}
#features1-1n .mbr-section-title .mbr-header__text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#features1-1n P {
  text-align: center;
}
#form1-1q .mbr-header__text {
  text-align: left;
}
